<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/documentos.css') }}">
    <title>INTERAI</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo"></li>
                <li>Planes</li>
                <li>Nosotros</li>
                <li>Contacto</li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-container">
            <div class="container1">
                <div class="steps-box">
                    <div class="steps">
                        <ol>
                            <li class="step">
                                <div class="circle">1</div>
                                Regístrate
                            </li>
                            <li class="step">
                                <div class="circle">2</div>
                                Añade tu documento de prueba
                            </li>
                            <li class="step">
                                <div class="circle">3</div>
                                Comienza a probar
                            </li>
                        </ol>
                        <button class="btn">Siguiente</button>
                    </div>
                </div>
            </div>
            
            <div class="container2">
                <div class="upload-section">
                    <div id="dropzone">
                        <!-- Puse un div distinto para cargar todos los documentos que se vayan agregando-->
                        <div id="file-list">
                            {% include 'load_files.html' %}
                        </div>
                        <p>Arrastre los archivos a esta zona <label for="archivos">o haga click aquí</label></p>
                        <input type="file" id="archivos" name="archivos" multiple />
                    </div>
                    <form>
                        <label for="bot-name">Nombre del bot</label>
                        <input type="text" id="bot-name" name="bot-name">
                        
                        <label for="instructions">Instrucciones</label>
                        <textarea id="instructions" name="instructions"></textarea>
                        
                        <label for="conversation-start">Inicio de conversación</label>
                        <input type="text" id="conversation-start" name="conversation-start">
                    </form>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="{{ url_for('static', filename='click.js')}}"></script>
    </main>
</body>
</html>
